body {
	font:100%/1.4 Arial, Helvetica, sans-serif;
	}
.container {
	width:680px;
	padding:5em 0;
	margin:0 auto;
	font-size:14px;
	}
/* button */

.button {

	border:0;
	font-size:13px;
	padding:5px 10px 6px;
	background:#333;
	color:#fff;
	cursor:pointer;
	line-height:normal;
	display:inline-block;
	text-decoration:none;
	vertical-align:middle;
	margin:0 5px 0 0;
	overflow:visible;
	border-style:solid;
	border-width:1px;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	background:#0088CC;
	background:-moz-linear-gradient(top, #0088CC, #0055CC);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0, #0088CC),color-stop(1, #0055CC));
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	   -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	}
	.button:hover {
		background:#0055CC;
		background:-moz-linear-gradient(top, #0055CC, #0088CC);
		background:-webkit-gradient(linear,left top,left bottom,color-stop(0, #0055CC),color-stop(1, #0088CC));
		}	
/* label */
	.label {
		vertical-align:middle;
		display:inline-block;
		padding:5px 10px 5px 0;
		}
/* textbox */
	.text,
	.select {
		display:inline-block;
		width:100%;
		border:1px solid #bebebe;
		font-size:14px;
		padding:5px;
		vertical-align:top;
		-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
		   -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
		        box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
		-webkit-border-radius:3px;
		   -moz-border-radius:3px;
				border-radius:3px;
		-webkit-box-sizing:border-box;
		   -moz-box-sizing:border-box;
			    box-sizing:border-box;
		}
	.select {
		padding:4px;
		line-height:22px;
		}
.text:focus,
.select:focus {
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	   -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	        box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6));
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0 none;
	}

/* helper */

.error {
	font-size:0.875em;
	padding:0.25em 0;
	margin:0;
	display:block;	
	}
.helper_text {
	font-size:0.857em;
	color:#999;
	padding:5px 0 0;
	margin:0;
	}
.form {
	font-size:0;
	width:100%;
	padding:0 0 15px;
	display:inline-block;
	vertical-align:top;
	}
.form_right .label {
	text-align:right;
	}
.form__item {
	padding:0 0 0 150px;
	margin:0 0 1em;
	zoom:1;
	position:relative;
	font-size:14px;
	}
.form_aligned .label {
	width:150px;
	margin:0 0 0 -160px;
	}
.form_aligned .text,
.form_aligned .text_area,
.form_aligned select {
	width:300px;
	margin-left:-4px;
	}
.form_switch input {
	vertical-align:0;
    margin:0 -0.5em 0 -17px;
    }
.form_switch .label {
	margin:0;
	vertical-align:top;
	line-height:normal;
	padding:0 0 0 0.7em;
	width:auto;
	text-align:left;
	}
.form_switch .form__item {
	margin:0 0 0.7em 17px;
	padding-left:0;
	}
.form_switch_h .form__item {
	display:inline-block;
	padding-right:1em;
	white-space:nowrap;
	}
.form_switch_inversed .form__item {
	margin:0 17px 0.7em 0;
	} 
.form_switch_inversed input {
	margin:0 -17px  0 -0.5em;
	}
.form_switch_inversed .label {
	display:inline;
	padding:0 0.7em 0 0;
	}

/* disabled state */

.disabled-group label {
	opacity:.3;
	-moz-opacity:.3; 
	filter:alpha(opacity=30);
	}
input[disabled], 
select[disabled], 
textarea[disabled], 
input[readonly], 
select[readonly], 
textarea[readonly] {
    opacity:.3;
    -moz-opacity:.3; 
    filter:alpha(opacity=30);
    cursor: not-allowed;
	}

/*@media screen and (-webkit-min-device-pixel-ratio:0)  {
	.form_switch .form__item {
		margin:0 0 0.7em 25px;
		}
    input[type=radio],
    input[type=checkbox] {
    	margin:0 -0.5em 0 -25px;
    	-webkit-appearance: none;
    	border:1px solid #4c4c4c;	    	
		background:#fefefe;
		background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#dbdbdb));
		background-image:-webkit-linear-gradient(top, #fefefe 0%, #dbdbdb 100%);
		background-image:linear-gradient(top, #fefefe 0, #dbdbdb 100%);
    	}
	input[type=radio] {
		vertical-align:-5px;
    	width:21px;
    	height:21px;
    	-webkit-border-radius:10px;
    	   -moz-border-radius:10px;
    			border-radius:10px;
    	}
    input[type=radio]:checked {
		background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#323232), color-stop(100%,#8a8a8a));
		background-image:-webkit-linear-gradient(top, #323232 0%, #8a8a8a 100%);
		background-image:linear-gradient(top, #323232 0, #8a8a8a 100%);
    	}
    input[type=radio]:checked:before {
    	content:"";
    	width:9px;
    	height:9px;
		margin:5px 0 0 5px;
    	-webkit-border-radius:4px;
    	   -moz-border-radius:4px;
    			border-radius:4px;
		position:absolute;
    	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#d1d1d1));
    	background-image:-webkit-linear-gradient(top, #f6f6f6 0%, #d1d1d1 100%);
    	background-image:linear-gradient(top, #f6f6f6 0, #d1d1d1 100%);
    	   -moz-box-shadow:0 1px 0 rgba(0,0,0,1);
    	-webkit-box-shadow:0 1px 0 rgba(0,0,0,1);
    			box-shadow:0 1px 0 rgba(0,0,0,1);
    	}	
	input[type=checkbox] {
    	vertical-align:-3px;
		width:16px;
		height:16px;
		-webkit-border-radius:5px;
		   -moz-border-radius:5px;
				border-radius:5px;
		}
   	input[type=checkbox]:checked {
   		border:0;
		background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAf1JREFUeNqMUznLWlEQPb7nUiikUQmmUVBBMCCKQW2S0kI7GwvFXqtUSR/4UsXK3tI/YKOkSKuohaCFCK4gamHABRQ1M5PPR8KnIQPn3rfcc+bOps/lcni294SPhBDhDe7bnNAifCP84A86Xkjk03a7fVqtVqAdp9PpLttgMMBiscBms/H+uVwuf9URmT1/7/f76vF4xP+Y0WiEz+c70+MHhZYv0+lUPZ/PUFX1IRRFwXq9lp3PzmYzlbks8PZwOECv1z8ECyyXSySTSQyHQ1yvV+z3e75MgAVeseq/BBaLhZBLpRI6nY6IMIe5el750CMbj8fweDwoFovgHKVSKTidTo2j3ARYcTKZgPKheeZq7HY7VKtVSVwmk8Fms4HVav1bgGPkq8XjcbhcLvHKcbbbbXS7XSHn83k0m014vV4pJ0OcS3fM50in0xIjXzORSKDVaqHX68Fut2M0GqFSqSAWi91i10ze3G43arWaeGFv/MwCHCtn3+/3IxqNyr8/k3sT+GkymRAIBFCv10WEjcm324TDYZjN5hfVIduyQJfjYfVQKCQihUJBRLLZLLhHHA7HCzKf57nQWvlyuXBngXY0Gg0Eg0FJYiQSuVteyoW0sjZMtD3pdDrtwGAwkPrfM64Q2e9hun18vgmP8zvC6wd9tSA0eJyJLOP8S4ABABjXznkihfvlAAAAAElFTkSuQmCC);  
     	}
	.select {
		line-height:normal;
		color:#666;
		font-weight:bold;
		font-size:18px;
		padding:12px 4px 12px 10px;
		-webkit-appearance: none;
		border:0;
		background:none;
		position:relative;
		cursor:pointer;
		z-index:10;
		}
	.select-wrap {
		width:100%;			
		display:inline-block;
		position:relative;
		background-image:-moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
		background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f0f0f0));
		background-image:-webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
		background-image:-o-linear-gradient(top, #fff 0, #f0f0f0 100%);
		background-image:-ms-linear-gradient(top, #fff 0%, #f0f0f0 100%);
		background-image:linear-gradient(top, #fff 0, #f0f0f0 100%);
		   -moz-box-shadow:0 0 4px rgba(0,0,0,0.5);
		-webkit-box-shadow:0 0 4px rgba(0,0,0,0.5);
				box-shadow:0 0 4px rgba(0,0,0,0.5);
		-webkit-border-radius:5px;
		   -moz-border-radius:5px;
				border-radius:5px;
		} 
	.select-wrap:before,
	.select-wrap:after {
		z-index:9;
	 	content:"";
	 	position:absolute;
	 	top:50%;	
	 	left:100%;		
		}
	.select-wrap:before {
	 	width:1px;
	 	height:40px;		 	
	 	margin:-20px 0 0 -47px;
	 	background:#d8d8d8;
	 	border-left:1px solid #efefef;
	 	border-right:1px solid #efefef;
	 	}
	 .select-wrap:after {		 	
	 	width:22px;		 	
	 	height:30px;
	 	margin:-15px 0 0 -34px;
		background:url(../i/select.png);
	 	}
	}
 */

/* inline form */ 
 
.form_inline .form__item {
	display:inline-block;
	padding:0 10px 0 0;
	vertical-align:bottom;
	}


@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
       .form_switch input {
       	vertical-align:2px;
       }
 }
.center {
	text-align:center;
	}
.justify {
	text-align: justify;
	text-justify: newspaper;
	zoom:1;
	text-align-last: justify;	
	}
.justify:after {
	content: ' . . . . . . . . . . . . . . . '; 
	word-spacing:100px;
	padding-left:32%;
	height:0;
	line-height:0;
	font-size:1px;
	overflow: hidden;
	visibility:hidden;
	}
.center .form__item,
.justify .form__item {
	padding:0;
	width:32%;
	text-align:left;
	display:inline-block;
	vertical-align:bottom;
	//display : inline;
	//zoom : 1;
	}
.center .form__item {
	width:31%;
	margin:0 1% 1em;
	}
.justify-row {
	text-align:justify;
	line-height:0;
	font-size:1px;
	text-justify:newspaper;
	zoom:1;
	text-align-last:justify;	
	}
.justify-row:after {
	width:100%; 
	height:0;
	visibility:hidden;
	overflow:hidden;
	content:'';
	display:inline-block;
	}
.justify-row .form__item  {
	padding:0;
	display: inline-block;
	text-align: left;
	line-height: normal;
	font-size:14px;
	vertical-align:bottom; 
	//display : inline;
	//zoom : 1;
	}
.justify-row .label {
	display:block;
	}
.justify-row .text {
	width:265px;
	}
	
.flexie {
	display:table;
	}
	
.flexie .form__item {
	vertical-align:bottom;
	display:table-cell;
	width:16%;
	padding:0 5px 2em;
	}
.flexie .form__item:first-child {
	padding-left:0;
	}
.flexie .form__item:last-child {
	padding-right:0;
	}